:root {
  --theme-color: #292929;
  --screen-color: #121212;
  --button-color: #3c3c3c;
  --button-highlight-color: #4d4d4d;
  --button-shadow-color: #0e0e0e;
  --button-text-color: #fff;
  --result-color: #ffbc00;
  --theme-number: 1;
}

body {
  margin: 0;
  background-color: var(--theme-color);
  font-family: "Roboto", sans-serif;
  color: var(--button-text-color);
}

.calc-wrapper {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header {
  font-size: 24px;
  font-weight: bold;
}

.aside {
  display: flex;
  align-items: center;
}

.theme-text {
  margin-right: 10px;
}

#theme-grid {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
 
}

#theme-numbers {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.theme-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.theme-number.active {
  background-color: var(--button-highlight-color);
}

.theme-number:last-child {
  margin-right: 0;
}

#theme-bullets {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bullet-1 {
  color: #ffbc00;

}
.bullet-2 {
  color: aqua;
}

.bullet-3 {
  color: black;
}

.bullet {
  background-color: var(--button-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.bullet.active {
  background-color: var(--result-color);
  transform: scale(1.3);
}

.bullet:last-child {
  margin-right: 0;
}

.screen-wrapper {
  margin-bottom: 20px;
  text-align: right;
  position: relative;
}

.screen {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-size: 28px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--screen-color);
  color: var(--button-text-color);
  text-align: right;
  border: none;
}

.result {
  font-size: 28px;
  margin-top: 10px;
  text-align: right;
  color: var(--result-color);
  right: 10px;
}

.button-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

button {
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  background-color: var(--button-color);
  color: var(--button-text-color);
  cursor: pointer;
  box-shadow: 2px 2px 4px var(--button-shadow-color);
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--button-highlight-color);
}

.gray {
  background-color: #777;
}

.zero {
  grid-column: 1 / span 2;
}

.orange {
  background-color: var(--result-color);
}