@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root {
  --step--2: clamp(0.78rem, 0.93rem + -0.76vw, 0.39rem);
  --step--1: clamp(0.94rem, 1.02rem + -0.40vw, 0.73rem);
  --step-0: clamp(1.13rem, 1.03rem + 0.49vw, 1.38rem);
  --step-1: clamp(1.35rem, 0.87rem + 2.40vw, 2.58rem);
  --step-2: clamp(1.62rem, 0.37rem + 6.27vw, 4.83rem);
  --step-3: clamp(1.94rem, -0.83rem + 13.89vw, 9.06rem);
  --step-4: clamp(2.33rem, -3.39rem + 28.61vw, 16.99rem);
  --step-5: clamp(2.80rem, -8.54rem + 56.71vw, 31.86rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Spartan', sans-serif;
}

body {
  min-height: 100vh;
  font-size: var(--step-0);
  font-weight: 700;
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  background-color: hsl(222, 26%, 31%);
  transition: 0.8s;
}

aside,
div,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: Spartan;
  vertical-align: baseline;
}

aside,
footer,
header,
nav {
  display: block;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-library {
  width: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #fffeff;
  margin-bottom: 5px;
}

nav header {
  font-size: 28px;
  line-height: 32px;
  padding-top: 12px;
}

nav aside {
  display: flex;
}

nav aside p {
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 25px;
  padding-right: 24px;
}

nav aside #theme-grid {
  width: 73px;
}

nav aside #theme-grid #theme-numbers {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  padding: 0 3px;
}

nav aside #theme-grid #theme-numbers div {
  width: 33.33%;
  text-align: center;
}

nav aside #theme-grid #theme-bullets {
  background-color: #181f32;
  height: 25px;
  border-radius: 16px;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 3px;
}

nav aside #theme-grid #theme-bullets div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  cursor: pointer;
}

nav aside #theme-grid #theme-bullets div #bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: hsl(6, 63%, 50%);
  transition: all 0.3s;
}

.calc-wrapper {
  font-size: var(--step--1);
  width: 350px;
  height: 540px;
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(224, 36%, 15%);
  background-image: linear-gradient(
    315deg,
    hsl(223, 31%, 20%) 0%,
    hsl(224, 36%, 15%) 74%
  );
}

.screen-wrapper {
  height: 100px;
  width: 330px;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: hsl(223, 31%, 20%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
}

.button-wrapper {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

button {
  border: none;
  background-color: hsl(225, 21%, 49%);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: hsl(224, 28%, 35%);
}

.equals {
  grid-column: 3 / 5;
  background-color: hsl(6, 63%, 50%);
}

.equals:hover {
  background-color: hsl(6, 70%, 34%);
}

footer {
  font-size: 14px;
  color: #ffffff;
}

main > aside {
  width: min(90%, 1000px);
  margin-inline: auto;
}

#theme-grid #theme-numbers div .calc-wrapper {
  padding: max(3vh, 1rem) 1.5rem;
  margin-bottom: max(5vh,2rem);
  line-height: 1;
}

.calc-wrapper {
  font-size: var(--step-3);
  line-height: 1;
}

#theme-numbers{
  font-size: var(--step--2);
  line-height: 1;
}
