:root {
  --primary-bg-color: #1c191f;
  --secondary-bg-color: #232027;
  --screen-bg-color: #333333;
  --button-gray-bg-color: #a3a3a3;
  --button-pink-bg-color: #ff5e86;
  --button-active-bg-color: #666666;
  --primary-text-color: #ffffff;
  --secondary-text-color: #7c7c7c;
  --screen-text-color: #ffffff;
  --button-text-color: #ffffff;
  --button-active-text-color: #000000;
  --theme-number: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-bg-color);
  font-family: 'Spartan', sans-serif;
}

.calc-wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 30px;
}

nav header {
  font-size: 30px;
  color: var(--primary-text-color);
}

nav aside p {
  font-size: 18px;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

#theme-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

#theme-numbers div {
  font-size: 18px;
  color: var(--secondary-text-color);
  cursor: pointer;
  text-align: center;
}


#theme-bullets>div {
  margin-right: 10px;
  cursor: pointer;
}

#bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--theme-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

#theme-bullets .active #bullet {
  background-color: var(--button-pink-bg-color);
}

#theme-bullets>div.active #bullet {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  transform: scale(1.2);
}

.screen-wrapper {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--screen-bg-color);
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  font-size: 24px;
  color: var(--screen-text-color);
  background-color: transparent;
  border: none;
  outline: none;
  text-align: right;
  margin-bottom: 10px;
}

.result {
  font-size: 36px;
  color: var(--screen-text-color);
  margin-top: auto;
}

.button-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 70px);
  grid-gap: 10px;
}

button {
  font-size: 24px;
  font-weight: 700;
  color: var(--button-text-color);
  background-color: var(--primary-bg-color);
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:active {
  background-color: var(--button-active-bg-color);
  color: var(--button-active-text-color);
}

button.gray {
  background-color: var(--button-gray-bg-color);
  color: var(--primary-text-color);
}

button.pink {
  background-color: var(--button-pink-bg-color);
}

button.long {
  grid-column: span 2;
}

button.ac {
  grid-row: 1;
}

button.zero {
  grid-column: span 2;
}

button.equal {
  grid-row: 5;
}

button:hover {
  filter: brightness(90%);
}

@media screen and (max-width: 768px) {
  .calc-wrapper {
    max-width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 480px) {
  .button-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px);
  }

  button {
    font-size: 20px;
  }
}